---
import "../styles/global.css";
import Base from "../layouts/Base.astro";
import Nav from "../components/sections/Nav.astro";
import Hero from "../components/sections/Hero.astro";
import HowItWorks from "../components/sections/HowItWorks.astro";
import SearchDemo from "../components/sections/SearchDemo.astro";
import BuiltFor from "../components/sections/BuiltFor.astro";
import Showcase from "../components/sections/Showcase.astro";
import EmbeddingViz from "../components/sections/EmbeddingViz.astro";
import FeatureGrid from "../components/sections/FeatureGrid.astro";
import SearchModes from "../components/sections/SearchModes.astro";
import Pricing from "../components/sections/Pricing.astro";
import Testimonials from "../components/sections/Testimonials.astro";
import Setup from "../components/sections/Setup.astro";
import FAQ from "../components/sections/FAQ.astro";
import Footer from "../components/sections/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <HowItWorks />
    <BuiltFor />
    <Showcase />
    <SearchDemo />
    <EmbeddingViz />
    <FeatureGrid />
    <SearchModes />
    <Pricing />
    <Testimonials />
    <Setup />
    <FAQ />
  </main>
  <Footer />
</Base>
